* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,0,101,1) 33%);
  font-size: 16px;
  font-family: sans-serif;
  color: #ffffff;
  text-align: center;
}

h1 {
  margin: 1em;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

li {
  padding: .5em 0;
}

.answer-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.5rem;
}

button {
  font-size: 1em;
  padding: 1em;
  margin-top: 1.5em;
  border-radius: 5%;
  border: none;
  background-color: #0789A9;
  color: #ffffff;
  text-transform: capitalize;
}

.incorrect {
  background-color: #ff6666;
}

.correct {
  background-color: #66b266;
}
